{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'teacher/css/style.css' %}">
    
</head>
<body class="home-page min-vh-100 d-flex justify-content-center align-items-center">
    
    <form action="/teacher_login" method="post" class="px-4 d-flex flex-column  align-items-center  bg-white rounded" id="login-form">
        {% csrf_token %}
        <h1 class="mb-3 ">Welcome Back!</h1>
        <h2 class="text-danger">Teacher Sign in</h2>
        <label for="username" class="w-100 h5 mt-5">Email ID</label>
        <input type="email" name="username" placeholder="Enter Email ID" class="form-control mb-3">
        <label for="username" class="w-100 h5">Password</label>
        <input type="password" name="password" placeholder="Enter Password" class="form-control">
        <input type="submit" value="Login" class="btn btn-primary mt-4 form-control">
        
    </form>
    <script src="{% static 'teacher/js/script.js' %}"></script>
</body>
</html>