{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>teacher Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'teacher/css/style.css' %}">
    
</head>
<body class="min-vh-100 d-flex">
    
    <nav id="sidebar" class=" navbar align-items-start text-white">
        <ul class="nav flex-column">
            <p class="text-center mb-0 mt-2 fs-5">Teacher</p>
            <hr>
            <p class="text-center mb-0">Hi {{teacher_name}} !!</p>
            <hr>
            <li class="nav-item mb-2 w-auto "><a href="/teacher_dashboard" class="nav-link text-white d-flex align-items-end"><img src="{% static 'teacher/images/dashboard-128.png' %}" style="width: 23px;height: 23px;color: white;" alt="" class="me-3"> Dashboard</a></li>
            <li class="nav-item mb-2"><a href="/teacher_assignment" class="nav-link text-white d-flex align-items-end"><img src="{% static 'teacher/images/file.png' %}" style="width: 23px;height: 23px;color: white;" alt="" class="me-3">Assignment</a></li>
            <li class="nav-item mb-2"><a href="/study_material" class="nav-link text-white d-flex align-items-end"><img src="{% static 'teacher/images/material.png' %}" style="width: 23px;height: 23px;color: white;" alt="" class="me-3">Study Material</a></li>
            <li class="nav-item mb-2"><a href="/teacher_news" class="nav-link text-white d-flex align-items-end"><img src="{% static 'teacher/images/news.png' %}" style="width: 23px;height: 23px;color: white;" alt="" class="me-3">Announcements</a></li>
            <li class="nav-item mb-2">
                <a class="nav-link text-white d-flex align-items-end" data-bs-toggle="collapse" href="#submenu1" role="button" aria-expanded="false" aria-controls="submenu1">
                    <img src="{% static 'teacher/images/assignment.png' %}" style="width: 23px;height: 23px;color: white;" alt="" class="me-3">Uploaded Assignment
                    <i class="ms-3 fas fa-chevron-down mb-1 me-2"></i>
                </a>
                <div class="collapse" id="submenu1">
                    <ul class="nav flex-column ms-0">
                        <li class="nav-item">
                            <a class="nav-link text-white ps-5" href="/teacher_unchecked_assignment">&nbsp; Unchecked</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white ps-5 " href="/teacher_checked_assignment">&nbsp; Checked</a>
                        </li>
                        
                    </ul>
                </div>
            </li>
            <li class="nav-item mb-2"><a href="/course_wise_student" class="nav-link text-white d-flex align-items-end"><img src="{% static 'teacher/images/user.png' %}" style="width: 23px;height: 23px;color: white;" alt="" class="me-3">Reg Students</a></li>
            <li class="nav-item mb-2"><a href="/teacher_profile" class="nav-link text-white d-flex align-items-end"><img src="{% static 'teacher/images/user.png' %}" style="width: 23px;height: 23px;color: white;" alt="" class="me-3">Profile</a></li>
            <li class="nav-item mb-2"><a href="/teacher_change_password" class="nav-link text-white d-flex align-items-end"><img src="{% static 'teacher/images/key.svg' %}" style="width: 23px;height: 23px;color: white;" alt="" class="me-3">Change Password</a></li>
            <li class="nav-item mb-2"><a href="/logout" class="nav-link text-white d-flex align-items-end"><img src="{% static 'teacher/images/logout.png' %}" style="width: 23px;height: 23px;color: white;" alt="" class="me-3">Logout</a></li>
        </ul>
    </nav>
    <div id="main-div">
        <div class="d-flex align-items-center">
            <img src="{% static 'student/images/hamburger-button.png' %}" alt="" id="nav-button" class="ms-2" width="32px" height="32px">
            <h2 class="text-center py-2 w-100">COLLEGE ASSIGNMENT SYSTEM </h2>
        </div>
        <div id="div1"></div>
        <div class="w-100 px-3">
            <h2 class=" mt-3 mb-2 pb-0 d-inline-block">Manage Study Material</h2>
            <button class="btn btn-success float-end mt-3" data-bs-toggle="modal" data-bs-target="#ModalForm">+ Add Material</button>
            <hr class="mt-0 border-4 text-success opacity-100">
        </div>
        
        <div class="container mx-0 px-0">
            <div class="mx-3 table-responsive">
                <table id="details-table" class="w-100 table">
                    <tr>
                        <th>S No.</th>
                        <th>Course Name</th>
                        <th>Subject Name</th>
                        <th>Title</th>
                        <th>Uploaded Date</th>
                        <th >Action</th>
                    </tr>
                    {% for material in study_materials %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ material.subject.course.course | title }} [{{ material.subject.course.branch |title }}]</td>
                        <td>{{ material.subject.subject | title }}</td>
                        <td>{{ material.title |title  }}</td>
                        <td>{{ material.upload_date }}</td>

                        <td><a href="{{material.file.url}} "><button class="btn btn-success me-2" >View File</button></a>  <a href="/edit_study_material/{{material.id}}"><button class="btn btn-primary me-2">Edit Details</button></a>   <a href="/delete_study_material/{{material.id}}"><button class="btn btn-danger me-2">Delete</button></a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        
        
        

        <div class="modal fade" id="ModalForm" tabindex="-1" aria-labelledby="ModalFormLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-body">
                    
                    <form method="post" class="pt-2 p-4 mt-0 d-inline-block rounded w-100" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h3 class="mb-4">Add Material</h3>
                        <table class="fw-bold w-100">
                        {{ form.as_table }}
                        <tr>
                            <th class="me-5"></th>
                            <td colspan="2"><input type="submit"  value="Submit" class="btn btn-primary float-end mt-4"></td>
                        </tr>
                        
                        </table>
                        <!-- <table class="fw-bold w-100">
                            <tr>
                                <td class="pb-3">Subject</td>
                                <td class="pb-3">
                                    <select id="subject-select" class="form-select" name="subject" required>
                                        <option value="">Select Subject Name</option>
                                        {% for subject in subjects %}
                                        <option value="{{ subject.id }}">{{ subject.subject | title  }} [{{subject.subject_code | upper }}]</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="pb-3">Title</td>
                                <td class="pb-3"><input type="text" name="title" class="form-control" required></td>
                            </tr>
                            <tr>
                                <td class="pb-3">Description</td>
                                <td class="pb-3"><textarea rows="2" cols="10" name="description" class="form-control"> </textarea></td>
                            </tr>
            
            
                            <tr>
                                <td class="pb-3 pe-4">Upload File</td>
                                <td class="pb-3"><input type="file" name="uploaded_file" class="form-control" required></td>
                            </tr>
            
                            <tr>
                                <td></td>
                                <td class="pt-4"><input type="submit"  value="Submit" class="btn btn-primary float-end"></td>
                            </tr>
                        </table> -->
                    </form>

                </div>
              </div>
            </div>
        </div>


    </div>
    
    <script  src="{% static 'teacher/js/script.js' %}">
       
    </script>
    
    
    
</body>
</html>